<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap"
        rel="stylesheet">
    <title>Success</title>
</head>

<body>

    <!-- Header begins -->
    <style>
        input[type=text] {
            width: 100%;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: .3s;
        }

        input[type=text]:focus {
            border-color: #f2dac3;
            box-shadow: 0 0 8px 0 #f2dac3;
        }
    </style>

    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>Library </span>Management</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/home" data-after="Home">Home</a></li>
                        <li><a href="/issue" data-after="About">Issue Book</a></li>
                        <li><a href="/search" data-after="">Search book</a></li>
                        <li><a href="/return" data-after="About">Return Book</a></li>
                        <li><a href="/" data-after="Contact">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Header ends -->


    <!-- Hero Section  -->
    <section id="hero">

        <div class="hero container">
            <div>
                {% if book_name %}
                <h1>Book Issued! <span></span></h1>
                <h1>{{book_name}}</h1>
                {% endif %}

                {% if returned %}
                <h1>Book Returned!</h1>
                {{returned}}
                {% endif %}

                {% if delete %}
                <h1>Removed Book! {{isbn}}</h1>
                <h1>For {{email}}</h1>
                {% endif %}

                {% if search %}
                <h1>Book Found! {{ title }}</h1>
                <h1>Issue using isbn {{ isbn }}</h1>
                {% endif %}

                <br><br>
                <button class="cta" onclick="goBack()">Go Back</button>
            </div>
            <div class="gif">

                <img src="../static/success.jpeg" style="margin-left: 100px;width: 500px;height: 500px;">
            </div>
    </section>

    <!-- End Hero Section  -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>